aiohttp==3.7.4
ajpy==0.0.4
altgraph==0.17.2
asgiref==3.4.1
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.11.0
autopep8==1.5.7
Babel==2.8.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.4
bottle==0.12.19
Django==4.0
django-bootstrap4==3.0.1
django-bootstrap5==2.1.2
gunicorn
whitenoise
pillow