{% extends "routine/dashboard.html" %}
{% block content %}
<style>
td {
border: 1px solid green;
}
a {
    text-decoration: none;
}
.accordion-item {
    margin-bottom: 5vw;
}

.accordion-button {
    color: white;
    background-color: rgb(50, 76, 102);
}

table {
    margin: 1vw;
    width: 96% !important;
    text-align: center;
}

</style>

<main>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Teachers On Duty Today
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Teacher</th>
                        <th scope="col">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{teacher}}</td>
                            <td>{{teacher.phone_number}}</td>
                        </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Supervisors On Duty Today
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Supervisor in supervisors %}
                        <tr>
                            <td>{{Supervisor}}</td>
                            <td>{{Supervisor.phone_number}}</td>
                        </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Teachers On Duty Tomorrow
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Teacher</th>
                            <th scope="col">Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in tomorrow_teachers%}
                            <tr>
                                <td>{{teacher}}</td>
                                <td>{{teacher.phone_number}}</td>
                            </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item"> 
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Supervisors On Duty Tomorrow
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Teacher</th>
                            <th scope="col">Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Supervisor in tomorrow_supervisors%}
                            <tr>
                                <td>{{Supervisor}}</td>
                                <td>{{Supervisor.phone_number}}</td>
                            </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
crossorigin="anonymous"></script>
{% endblock content %}
